<template name="contact">
	<div id="contact" class="section">
        <div class="container">
            <div class="row text-center">
                <h1 class="margin-top-0 wow fadeIn color-variable color-primary wow fadeInDown">// Get in Touch</h1>
             </div>
             <div>
                <div class="text-center wow fadeInUp">
                    <form id="contact-form" class="row center-x">
                        <div class="col-md-6">
                            <label></label>
                            <input id="contact-name" type="text" class="bg-border bg-shadow bg-translucent bg-shadow color-variable color-primary contact-field form-control wow fadeInDown" placeholder="Name" autocomplete="off" required> 
                        </div>
                        <div class="col-md-6">
                            <label></label>
                            <input id="contact-email" type="email" class="bg-border bg-shadow bg-translucent bg-shadow color-variable color-primary contact-field form-control wow fadeInUp" placeholder="Email" autocomplete="off" required>
                        </div>
                        <div class="col-md-12">
                            <label></label>
                            <textarea id="contact-message" class="bg-border bg-shadow bg-translucent bg-shadow color-variable color-primary contact-field form-control wow fadeInUp" rows="9" placeholder="Message" autocomplete="off" required></textarea>
                        </div>
                        <div class="col-md-12">
                            <label></label>
                            <button id="submit-msg-btn" type="submit" class="bg-shadow-hover center-x btn color-variable color-primary btn-block btn-lg bg-translucent bg-shadow bg-rounded clean">
                                <i class="icon fa fa-envelope"></i> Send me a Message!
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>