<template name="contact">
	<div id="contact">
        <div class="container">
            <div class="row">
                <h1 class="wow fadeInDown">// Get in Touch</h1>
             </div>
             <div>
                <div class="wow fadeInUp">
                    <form id="contact-form" class="row">
                        <div class="col-md-6">
                            <label></label>
                            <input id="contact-name" type="text" class="contact-field form-control wow fadeInDown" placeholder="Name" autocomplete="off" required> 
                        </div>
                        <div class="col-md-6">
                            <label></label>
                            <input id="contact-email" type="email" class="contact-field form-control wow fadeInUp" placeholder="Email" autocomplete="off" required>
                        </div>
                        <div class="col-md-12">
                            <label></label>
                            <textarea id="contact-message" class="contact-field form-control wow fadeInUp" rows="9" placeholder="Message" autocomplete="off" required></textarea>
                        </div>
                        <div class="col-md-12">
                            <label></label>
                            <button id="submit-msg-btn" type="submit" class="btn btn-block btn-lg">
                                <i class="icon fa fa-envelope"></i> Send me a Message!
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>