<template name="portfolio">
	<div id="portfolio" class="section" data-stellar-background-ratio="0.2">
		<div class="container">
			<div class="row text-center">
				<h1 class="wow fadeInDown">// Portfolio</h1>
			</div>
			<div id="portfolio-filters" class="row">
				 <button class="filter wow fadeIn" data-filter="demo" data-wow-delay=".3s">Demo</button>
				 <button class="filter wow fadeIn" data-filter="personal" data-wow-delay=".2s">Personal</button>
				 <button class="filter wow fadeIn" data-filter="professional" data-wow-delay=".3s">Professional</button>
			</div>
			<br>
			<div id="portfolio-item-container">
				{{#each portfolio}}
					<div class="{{category}} {{display}} text-center portfolio-item-details-container wow flipInX" data-wow-delay="{{wowDelay}}">
						<a href="{{source}}" target="">
							<div class="portfolio-item">
								<h2>
									{{title}}
								</h2>
								<div class="portfolio-icon rubberBand">
									<i class="fa {{icon}}"></i>
								</div>
							</div>
						</a>
					</div>
				{{/each}}
			</div>
		</div>
	</div>
</template>