<template name="resumeInteractive">
	<div id="tl-container" class="container">
		<div class="row">
			<div id="tl-points-container" class="col-md-12 wow fadeInDown">
				<div class="tl-point center-x wow bounceIn" data-wow-delay="{{wowDelay}}">
					<div class="tl-point-overview text-center">
						<h2 class="color-variable color-primary text-center center-x bounceIn">
							<i class="fa fa-graduation-cap"></i>
						</h2>
						<h2 class="color-variable color-primary">Bachelor of Science</h2>
						<h2 class="color-variable color-primary">Software Engineering</h2>
						<h3 class="color-variable color-primary">Completed 05/2012</h3>	
						<h3 class="color-variable color-primary">University of Texas at Dallas</h3>
					</div>
				</div>
				<h1 class="color-variable color-primary text-center center-x fadeInDown">
					<i class="fa fa-angle-double-down"></i>
				</h1>
				{{#each timeline}}
					<a id="{{_id}}" href="#" class="expand-point clean color-variable color-primary">
						<div class="tl-point tl-point-border-left bg-translucent bg-shadow-inverse bg-shadow-hover center-x wow bounceIn" data-wow-delay="{{wowDelay}}">
							<div class="tl-point-overview text-center">
								<h2 class="color-variable color-primary wow fadeIn" data-wow-delay=".1s">{{company}}</h2>
								<h3 class="color-variable color-primary wow fadeIn" data-wow-delay=".2s">{{location}}</h3>
								<h3 class="color-variable color-primary wow fadeIn" data-wow-delay=".3s">{{from}} - {{to}}</h3>
								<h3 class="color-variable color-primary wow fadeIn" data-wow-delay=".4s">{{role}}</h3>
							</div>
						</div>
						<h1 class="color-variable color-primary text-center center-x wow fadeInDown">
							<i class="fa fa-angle-double-down"></i>
						</h1>
					</a>
				{{/each}}
				<a id="tl-point-current" href="#">
					<h1 class="color-variable color-primary text-center center-x">
						<i class="fa fa-user"></i>
					</h1>
				</a>
			</div>	
			<div id="tl-point-details" class="col-md-12 center-x tl-point-details-hidden display-none">
				<a id="tl-point-rtn" href="#" class="color-variable color-primary fadeInUp text-center">
					<h1 class="color-variable color-primary text-center center-x fadeInDown">
						<i class="fa fa-angle-double-up"></i>
					</h1>
				</a>
				<div class="company-logo bg-circle bg-shadow" style="background:url({{_imgUrl}})"></div>
				<h1 class="color-variable color-primary wow fadeInUp" data-wow-delay=".5s">{{_company}}</h1>
				<h2 class="color-variable color-primary wow fadeInDown" data-wow-delay=".5s">{{_location}}</h2>
				<h2 class="color-variable color-primary wow fadeInUp" data-wow-delay=".5s">{{_from}}-{{_to}}</h2>
				<h2 class="color-variable color-primary wow fadeInDown" data-wow-delay=".5s">Role: {{_role}}</h2>
				<h2 class="color-variable color-primary wow fadeInUp" data-wow-delay=".5s">Projects: {{_projects}}</h2>
				<br>
				<h3 class="color-variable color-primary wow fadeInDown" data-wow-delay=".5s">Environment: 
				{{#each _environment}}
					<div class="badge bg-translucent bg-shadow-inverse color-variable color-primary wow bounceIn" data-wow-delay=".5s">
						{{this}}
					</div>
				{{/each}}
				</h3>
				<br>
				<h3 class="color-variable color-primary wow fadeInUp" data-wow-delay=".5s">Highlights:</h3> 
				<ul class="bg-translucent bg-shadow bg-rounded clean">
					{{#each _highlights}}
						<li class="color-variable color-primary wow fadeIn divider" data-wow-delay=".5s">
							<i class="fa-li fa fa-square"></i>{{this}}
						</li>
					{{/each}}
				</ul>
				<a id="tl-point-rtn" href="#" class="color-variable color-primary fadeInUp text-center">
					<h1 class="color-variable color-primary text-center center-x fadeInDown">
						<i class="fa fa-angle-double-up"></i>
					</h1>
				</a>
			</div>
			<div id="tl-point-current-details" class="tl-point-current-details-hidden col-md-12 display-none">
				<a id="tl-point-current-rtn" href="#" class="color-variable color-primary fadeInUp text-center">
					<h1 class="color-variable color-primary text-center center-x fadeInDown">
						<i class="fa fa-angle-double-up"></i>
					</h1>
				</a>
				<h2 class="color-variable color-primary wow fadeInDown" data-wow-delay=".5s">Highlight of Qualifications</h2>
				<ul class="bg-translucent bg-shadow bg-rounded clean wow fadeIn">
					{{#each qualificationHighlights}}
		                <li class="color-variable color-primary wow fadeIn divider">
		                	{{this}}
		                </li>	                
	                {{/each}}
            	</ul>
            	<br>
            	<h2 class="color-variable color-primary wow fadeInDown" data-wow-delay=".5s">Technical Skills</h2>
            	<div class="row">
            		{{#each technicalSkillCategories}}
            			<div class="col-md-3 technical-skills">     
                        	<h4 class="technical-skill color-variable color-primary">{{this}}</h4>
                        	{{#each technicalSkills this}}                        		
                        		<div class="badge bg-translucent bg-shadow-inverse color-variable color-primary">
                        			{{this}}
                        		</div>
                        	{{/each}}
                        </div>
            		{{/each}}
                </div>
                <a id="tl-point-current-rtn" href="#" class="color-variable color-primary fadeInUp text-center">
					<h1 class="color-variable color-primary text-center center-x fadeInDown">
						<i class="fa fa-angle-double-up"></i>
					</h1>
				</a>
			</div>
		</div>
	</div>
</template>