@import url(https://fonts.googleapis.com/css?family=Monda);
html,
body {
    height: 100%;
    width: 100%;
    font-family: 'Monda', sans-serif;
    background: #1d1d1d;
}
.color-variable {
    -webkit-transition: 0.3s;
    transition: 0.3s;
}
.color-primary {
    color: #f8f8ff !important;
}
.color-secondary {
    color: #7ec0ee !important;
}

.color-primary:hover,
.color-primary:active {
    color: #7ec0ee !important;    
}
.color-secondary:hover,
.color-secondary:active {
    color: #f8f8ff !important;    
}
.clean,a {
    text-decoration: none !important;
    list-style-type: none !important;
    outline: none !important;
}
.bg-rounded {
    border-radius: 10px;
}
.bg-translucent-dark {
    background: rgba(0, 0, 0, 0.95);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 1);
}
.bg-translucent {
    background: rgba(0, 0, 0, 0.7);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 1);
}
.text-center {
    text-align: center;
}
.centered {
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto auto;
}
.center-x {
    right: 0;
    left: 0;
    margin: 0 auto;
}
.center-y {
    top: 0;
    bottom: 0;
    margin: 0 auto;
}
.bg-dark-1 {
    background-color: #0d0d0d;
}
.bg-dark-2 {
    background-color: #1a1a1a;
}
.bg-dark-3 {
    background-color: #262626;
}
.bg-transparent {
    background: transparent;
}
.hide {
    opacity: 0;
    visibility: hidden;
    display: none;
}
.cover {
    height: 100%;
    width: 100%;
}
.min-cover {
    min-height: 100%;
    min-width: 100%;
}
.border-bottom {
    border-bottom: 2px solid rgba(0, 0, 0, .5);
}
.bg-shadow {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 1);
}
.text-shadow {
    text-shadow: 1px 1px 1px rgba(60, 60, 60, .5);
}
.bg-shadow-inverse {
    box-shadow: 0px 0px 5px 0px rgba(255, 255, 255, 0.3) 
}
.bg-border {
    border: 3px solid rgba(0, 0, 0, 1);
}
.noscroll {
    overflow: hidden;
    position:fixed;
}