/** THEME **/
@import url(https://fonts.googleapis.com/css?family=Monda);
@import url(https://fonts.googleapis.com/css?family=Architects+Daughter);
@import url(https://fonts.googleapis.com/css?family=Electrolize);
@import url(https://fonts.googleapis.com/css?family=Jura:400,600,500);

html,
body {
    height: 100%;
    width: 100%;
    font-family: 'Monda', sans-serif;
    font-weight: 600;
}

i,
button,
.color-variable,
.portfolio-item,
.portfolio-icon,
.contact-field,
.tl-point,
.color-variable,
#nav a,
#tl-point-details ul,
#portfolio,
#av-page-wrap,
#logout-btn, 
#user-btn,
#user,
#login,
#nav,
#portfolio-item-container,
#submit-msg-btn,
#network-icons,
#tl-points-container,
#tl-point-details,
#tl-container,
#tl-point-current-details,
#my-email,
#loader  {
    -webkit-transition: 0.3s;
    transition: 0.3s;
}
.bg-about {
    background: url(http://i.imgur.com/XArrwf6.jpg);
}
.bg-board {
    background: url(http://i.imgur.com/pCNQya7.jpg);
}
a {
    cursor: pointer;
}
.color-primary {
    color: #f8f8ff !important;
}
.color-secondary {
    color: #7ec0ee !important;
}

.color-primary:hover,
.color-primary:active {
    color: #7ec0ee !important;    
}
.color-secondary:hover,
.color-secondary:active {
    color: #f8f8ff !important;    
}
.bg-shadow-hover:hover {
     box-shadow: 0px 0px 15px 0px #7ec0ee !important;
}
.color-black {
    color: black !important;
}
.clean,a {
    text-decoration: none !important;
    list-style-type: none !important;
    outline: none !important;
}
.bg-rounded {
    border-radius: 10px;
}
.bg-translucent-dark {
    background: rgba(0, 0, 0, 0.95);
}
.bg-translucent {
    background: rgba(0, 0, 0, 0.7);
}
.text-center {
    text-align: center;
}
.centered {
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto auto;
}
.center-x {
    right: 0;
    left: 0;
    margin: 0 auto;
}
.bg-dark-1 {
    background-color: #0d0d0d;
}
.bg-dark-2 {
    background-color: #1a1a1a;
}
.bg-dark-3 {
    background-color: #262626;
}
.bg-transparent {
    background: transparent;
}
.hide {
    opacity: 0;
    visibility: hidden;
    display: none;
}
.cover {
    height: 100%;
    width: 100%;
}
.min-cover {
    min-height: 100%;
    min-width: 100%;
}
.border-bottom {
    border-bottom: 2px solid rgba(0, 0, 0, .5);
}
.bg-shadow {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 1);
}
.bg-shadow-inverse {
    box-shadow: 0px 0px 5px 0px rgba(255, 255, 255, 0.3) 
}
.text-shadow {
    text-shadow: 1px 1px 1px rgba(60, 60, 60, .5);
}
.bg-border {
    border: 3px solid rgba(0, 0, 0, 1);
}
.noscroll {
    overflow: hidden;
    position:fixed;
}

/** AVARGHESE STYLES **/
#av-page-wrap {
    width: 100%;
    height: 100%;
}
.close-btn {
    padding: 10px 10px;
    font-size: 20px;
    position: absolute;
    background: transparent;
    border: none;
    right: 0;
    top: 0;
}

#login-message {
    margin: 20px 0;
}
.inline {
    display: inline;
}

.modal-dialog {
    margin-top: 20px;
}
.modal-header {
    border: none;
}
.modal-content {
    padding: 0px 25px;
}
.modal-body {
    min-height: 250px;
    padding: 0;
}
#login-form {
    padding: 0 20px;
    margin: 0;
    width: 100%;
}
#logout-btn {
    margin: 20px auto 20px;
    position: absolute;
    bottom: 0;
    max-width: 300px;
}

#login {
    width: 90%;
    height: 80%;
    max-width: 500px;
    max-height: 400px;
    min-height: 300px;
    z-index: 20;
}
#user {
    width: 90%;
    height: 80%;
    max-width: 500px;
    max-height: 300px;
    min-height: 250px;
    z-index: 25;
}

#widgets {
    padding: 80px 0;
    height: 100%;
    width: 100%;
}

.section-footer a {
    padding-top: 20px;
}

.section-footer {
    margin: 40px auto 0;
    font-size: 50px;
    bottom: 0;
    right: 20px;
    left: 20px;
    z-index: 30;
}

#nav {
    z-index: 10;
    border-radius: 0 !important;
    margin: 0;
    width: 100%;
    padding: 0 10px;
}
#about {
    width: 100%;
    min-height: 100%;
}
#resume {
    padding: 60px 20px;
    min-height: 100%;
}
#about-me {
    margin-left: 0 20px;
}
#resume-text-container {
    max-width: 600px;
}
#show-text-btn {
    max-width: 600px;
    font-size: 25px;
}
.bg-cover {
    background-size: cover;
}
.stellar {
    background-attachment: fixed;
}
.navbar-right {
    margin-right: 0;
}
.resume-icon {
    font-size: 25px;
    padding: 20px 20px 20px 0;
    cursor: pointer;
}
#portfolio-item-container {
    min-height: 550px;
}

button .navbar-toggle,
button .navbar-toggle:hover,
button .navbar-toggle:focus,
button .navbar-toggle:active {
    background: rgba(0, 0, 0, 0.7) !important;
}

.badge {
    border-radius: 3px;
    padding: 4px 4px;
    margin: 5px 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, .5);
    margin-top: 20px;
    margin-bottom: 20px;
    color: #f8f8ff;
}
h2 {
    font-size: 20px;
}
h3 {
    font-size: 15px;
}
.margin-top-bottom {
    margin-top: 20px;
    margin-bottom: 20px;
}
.navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: transparent;
}

.navbar-toggle {
    margin: 0 !important;
    border: none;
    box-shadow: none;
}

.navbar-default .navbar-toggle,
.navbar-collapse {
    border: none;
    box-shadow: none;
    background: transparent !important;
}

.menu-bars {
    margin: 0;
    padding: 8px 15px;
    font-size: 20px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, .5);
}

.filter {
    border: none !important;
    border-radius: 3px !important;
    margin: 5px 5px;
}
.padded {
    padding: 20px 0;
}
.pad-all {
    padding: 20px;
}

#submit-msg-btn:active{
    color: #f8f8ff;
}

#submit-msg-btn {
    max-width: 400px;
}

#network-icons a i {
    font-size: 35px;
    margin: 0 10px;
}
#footer-network-icons a i {
    font-size: 15px;
    margin: 0 5px;
}

#network-icons a i:hover {
    border-radius: 5px;
    border-left: 2px solid;
    border-right: 2px solid;
    transform: translateY(2px);
}
#footer-network-icons a i:hover {
    border-radius: 5px;
    border-left: 1px solid;
    border-right: 1px solid;
}
    
.portfolio-item-details-container {
    padding: 10px;
    height: 300px;
    min-width: 250px;
}

.portfolio-item {
    width: 100%;
    height: 100%;
}
.portfolio-item:hover {
    width: 101%;
    height: 101%;
    transform: translateX(-5px) translateY(-5px); 
}
.portfolio-icon {
    font-size: 100px;
}
.infinite {
    animation-iteration-count: infinite;
}
.portfolio-icon:hover {
    animation-iteration-count: infinite;
    font-size: 120px;
}
.portfolio-item h2 {
    margin: 0;
    padding: 20px;
}
.resume-item {
    padding-left: 10px;
}
.resume-item-header {
    font-size: 17px;
}

#network-icons {
    margin: 0px 10px;
}
.section {
    padding: 50px 10px;
}

.nav-text {
    font-size: 20px;
}
#nav a {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, .5);
}
.navbar {
    border-bottom: none;
}
.contact-icons .fa {
    color: #f8f8ff;
    font-size: 25px;
    padding: 0 5px;
}
button:focus {
    outline: 0 none;
}
#portfolio {
    min-height: 100%;
}
#portfolio .container .row {
    padding: 10px 0;
}

#message-list {
    padding: 10px 0 0;
    max-height: 300px;
    overflow-y: scroll;
}
#message-list h2 {
    position: absolute;
    bottom: 0;
    margin-bottom: 20px;
}
.widget-title {
    width: 100%%;
    padding: 10px;
}
.message-row {
    padding-top: 5px;
}
#drag-icon {
    float: right;
    margin: 0 -12px -2px 0;
}
.widget-content {
    padding: 20px;
}  
  
#message-details {
    margin-bottom: 20px;
}

#message-details h2 {
    padding: 0;
    margin: 5px;
}
#delete-message-btn {
    float: left;
    max-width: 250px;
}
#reply-message-btn {
    float: right;
    max-width: 250px;
}

.margin-bottom {
    margin-bottom: 20px !important;
}

.margin-top {
    margin-top: 10px !important;
}

#message-body {
    overflow-y: scroll; 
}
#message-body, #message-info {
    height: 150px;
    padding: 10px;
}
.divider {
    padding-bottom: 5px;
    border-bottom: 1px solid rgba(255,255,255,.2);
    margin-bottom: 5px;
}
.no-margin {
    margin: 0;
}
.no-padding {
    padding: 0;
}
.no-space {
    margin: 0;
    padding: 0;
}
.item-completed {
    text-decoration: line-through;
    overflow-x: scroll;
    overflow-y: hidden;
    opacity: 0.5;
}

li input[type="text"] {
    background: transparent;
    border: none;
}

input[type="text"]:focus {
    outline: none;
}

#new-item {
    background: transparent;
    border: none;
    border-bottom: 2px solid rgba(255,255,255,0.1);
    width: 95%;
    font-size: 20px;
}
#add-item-btn {
    font-size: 20px;
}
#new-item:focus {
    outline: none;
}
.item-lists {
    max-height: 300px;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-top: 20px; 
}
.checklist-item {
    font-size: 20px;
}
.item-date {
    font-size: 10px;
}
.item-name {
    width: 100%;
}
.icon {
    margin-right: 10px;
    text-decoration: none;
}
.widget-half-size {
    min-width: 340px;
    max-width: 600px;
}
.item-lists hr, .message-list hr  {
    opacity: 0.2;  
}
.float-left {
    float: left; 
} 
input.error, textarea.error{
    box-shadow: 0px 0px 10px 0px #E18989;
    border: 2px solid #E18989;
}
input.valid, textarea.valid {
    box-shadow: 0px 0px 10px 0px #7ec0ee;
    border: 2px solid #7ec0ee;
}
#contact-form {
    max-width: 800px;
}
#contact-name-error, #contact-email-error, #contact-message-error{
    display: none !important;
}
#contact-message {
    resize: none;
}
.bg-shadow-inset {
    box-shadow: inset 0 0 10px rgba(0,0,0,.3);
}
.form-control:focus {
    border: none;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,1);
}
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    background: rgba(0, 0, 0, 0.7);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,.5);
}
#resume hr {
    max-width: 400px;
}
#tl-container {
    min-height: 300px;
    width: 100%;
    overflow-x: hidden;
    max-width: 800px;
}
.tl-line {
    height: 100%;
    border-left: 3px solid white;
    border-radius: 5px;
    margin: 20px;
}
.tl-point {
    min-height: 100px;
    width: 100%;
    max-width: 300px;
    border-radius: 10px;
    padding: 10px;
}
.tl-point-hover:hover {
    width: 310px;
    transform: translateX(-5px) translateY(-5px); 
}
.tl-point h3,.tl-point h2 {
    margin: 0;
    padding: 0;
}
.tl-point-overview { 
    margin-top: 0;
}
.display-none {
    visibility: hidden;
    display: none;
}
.tl-point-rtn, .tl-point-current-rtn {
    font-size: 30px;
}
.tl-point-current-rtn h1, .tl-point-rtn h1 {
    padding-bottom: 30px;    
}
#tl-point-details h1,#tl-point-details h2,#tl-point-details h3 {
    margin: 5px 0;
}
#tl-container .row {
    padding-top: 10px;
    overflow: hidden;
}
#tl-point-current {
    font-size: 55px;
}
.tl-point-hidden {
    transform: translateY(-140%); 
    opacity: 0;
}
.tl-point-details-hidden {
    opacity: 0;
    transform: translateY(100%); 
}
.tl-point-current-details-hidden {
    opacity: 0;
    transform: translateY(100%);    
}
.tl-point-border-bottom:hover {
    border-bottom: 3px solid white;
}
.tl-point-border:hover {
    border-left: 3px solid white;
    border-right: 3px solid white;
}
#tl-point-details ul {
    padding: 15px 30px;
    max-height: 180px;
    overflow-y: scroll;
}
.bg-circle {
    border-radius: 50px;
}
.company-logo {
    width: 70px;
    height: 70px;
    margin-bottom: 15px;
    background-size: cover !important;
    background-position-x: center !important;
    background-position-y: bottom !important;
}
#tl-point-current-details ul {
    padding: 10px 10px;
}
#tl-point-current-details h4 {
    margin: 0;
}
.technical-skills {
    margin-bottom: 10px;
}
.tl-point-arrow {
    font-size: 40px;
    margin-bottom: 15px;
}
.portfolio-items-hidden {
    opacity: 0;
}
.messages-btn {
    margin-top: 25px;
    font-size: 15px;
}
.scroll-down-btn div {
    max-width: 50px;
    padding: 25px 0;
    margin-bottom: -75px;
}
#email-modal .modal-dialog {
    max-width: 300px;
}
.my-email-hidden {
    opacity: 0;
    display: none;
    visibility: hidden;
}
.typed-cursor {
    animation: flash 1s infinite;
}
.fade {
    opacity: 0;
}
.av-page-wrap-hidden {
    opacity: 0;
    visibility: none;
    transform: translateY(-50px);
}
#loader {
    background: white;
    z-index: 999;
}
.loader-hidden {
    opacity: 0;
    transform: translateY(50px);
}
#aboutme-text p {
    min-height: 140px;
    overflow-x: scroll;
    margin: 0;
    padding: 10px 30px;
}
.av-loading-icon {
    font-size: 100px;
    text-align: center;
    color: black;
    position: fixed;
    left: 0;
    right: 0;
    margin: auto;
    top: 40%;
    bottom: 40%;

}
#messages-btn #new-message-count {
    margin-left: -16px;
    position: absolute;
    top: 10px;
    font-size: 15px;
    right: 5px;
}
.message .read i{
    position: absolute;
    top: 25px;
    right: 0;
}
.checklist-item input, .checklist-item span {
    overflow-x: scroll;
    overflow-y: hidden;
}