@font-face {
    font-family: silkscreen; 
    src: url("/fonts/silkscreen.ttf");
}

$m-color-1: black;
$m-color-2: white;

@media only screen and (max-width: 768px) {
	i,a,h1,h2,h3,h4,h5,h6,p,input,li,button {
	    color: $m-color-1 !important;
	    &:hover {
	        color: $m-color-1 !important;
	    }
	}
    #not-authorized,
    #login-submit-btn,
    #register-submit-btn,
    #aboutme-content,
    .expand-point .tl-point,
    .widget-content,
    #widgets,
    #job-highlights,
    #qualification-highlights,
    .badge,
    .filter,
    .portfolio-item,
    #submit-msg-btn,
    .contact-field,
    #logout-btn {
        background: $m-color-2 !important;
        box-shadow: 0px 0px 10px 0px rgba(0,0,0,1) !important;
        &:hover {
            background: $m-color-2 !important;
        }
    }

    #message-ctrl a, 
    #message-ctrl a i,
    .widget-title i,
    .badge,
    .contact-field,
    span {
        color: $m-color-1 !important;
        &:hover{
            color: $m-color-1 !important;
        }
    }
    .portfolio-item h2 {
        color: $m-color-2 !important;
    }
    #nav a, #nav i, #footer h4, #footer a, #footer i {
        color: $m-color-2 !important;
    }
        html,body {
        background: white !important;
        font-family: 'silkscreen', 'Monda', sans-serif !important;
    }
    #about,#board,#resume {
        background: transparent !important;
    }
    .bg-translucent {
        background: transparent !important;
    }
    .modal-content, .widget-container .bg-translucent {
        background: white !important;
    }
    .bg-shadow-hover,.bg-shadow-hover:hover {
        box-shadow: 0px 0px 10px 0px rgba(0,0,0,1) !important;
    }
    .bg-shadow-inverse {
        box-shadow: 0px 0px 10px 0px rgba(0,0,0,1) !important;
    }
    #new-item {
        border-bottom: 2px solid rgba(0,0,0,0.3);
    }
    .divider {
        border-bottom: 1px solid rgba(0,0,0,.3);
    } 
    #nav {
        background: rgba(0, 0, 0, 0.7) !important;
        box-shadow: 0px 0px 10px 0px rgba(0,0,0,1) !important;
    }
    #footer {
        background: rgba(0, 0, 0, 0.7) !important;
    }
    span.menu-bars {
        color: white !important;
    }
    .contact-field, .contact-field:focus {
        border: 1px solid  rgba(0,0,0,1) !important;
    }
    .tl-point:before {
        border-top: 4px solid black;
    }
    .tl-point-border-left, .tl-line {
        border-left: 3px solid black;
    }
    #board { 
        box-shadow: none !important;
    }
    #new-message-count {
        display: none;
    }
    .widget-content {
        max-width: 340px;
    }
}
