<template name="about">
	<div id="about" class="section bg-translucent" data-stellar-background-ratio="0.5">
		<div class="container">
			<div class="row">
				<div id="about-me" class="col-md-push-6 col-md-6">
					<div id="aboutme-text" class="text-center text-shadow color-variable color-primary wow fadeIn">
						<h1 class="color-variable color-primary wow fadeInDown">// About Me</h1>
	                    <div class="padded bg-translucent bg-shadow bg-rounded color-variable color-primary">
		                    <h2 class="wow rubberBand color-variable color-primary">Hello, <br>My Name is Arun Varghese</h2>
		                    <h2 class="wow fadeIn color-variable color-primary" data-wow-delay="0.2s">-Software Developer-</h2>
		                    <h4 class="wow fadeIn color-variable color-primary" data-wow-delay="0.3s">
		                    	<i class="icon fa fa-map-marker"></i>[Dallas, Texas]
		                    </h4>
		                    <p class="wow fadeIn color-variable color-primary" data-wow-delay="0.4s">I'm a blah blah blah engineer with a love of design, coding, and creating tangible deliverables through problem solving and creating thinking!</p>
		                     <div id="network-icons" class="row padded text-center wow fadeIn" data-wow-delay="0.5s">
				                 <a href="https://github.com/avarghese4790" class="btn btn-lg bg-translucent bg-shadow bg-rounded">
				                    <h3 class="network-icon-name color-variable color-primary">
				                    	<i class="icon fa fa-github fa-fw"></i> Github
				                    </h3>
				                 </a>
				                 <a href="https://www.linkedin.com/in/varghesearun" class="btn btn-lg bg-translucent bg-shadow bg-rounded">
				                    <h3 class="network-icon-name color-variable color-primary">
				                    	<i class="icon fa fa-linkedin fa-fw"></i> Linkedin
				                    </h3>
				                 </a>
				            </div>
	                    </div>
	                </div>
				</div>
			</div>
		</div>
		<div class="section-footer text-center"><a class="scroll color-variable color-primary" href="#resume"><i class="fa fa-angle-double-down"></i></a></div>
	</div>
</template>