<template name="landing">	
	{{>login}}
	<div id="page-wrap">
		{{>user}}
		{{>nav}}
		{{>about}}
		{{>resume}}
		<div class="bg-board bg-shadow" data-stellar-background-ratio="0.5">
			{{>portfolio}}
			{{>contact}}
			{{>footer}}
		</div>		
	</div>
	<script type="text/javascript">		
	  	new WOW().init();	  	
		if(!Modernizr.touch){ $(window).stellar();}
		$(function(){
			$('body').removeClass('modal-open');
			$('.modal-backdrop').remove();
			if(!Modernizr.touch){ $(window).stellar('refresh');}
		});
	  	// $('body').scrollspy({
	   //      target: '.navbar-nav'
	   //  });

	 	//  	$(window).scroll(function() {	
		//     if ($(window).scrollTop() > 100){
		//         $('#nav').addClass('nav-bg');
		        
		//     } 
		//     if ($(window).scrollTop() < 100){
		//         $('#nav').removeClass('nav-bg');
		        
		//     };   	
		// });


		$('a.scroll').bind('click', function(event) {
	        var $ele = $(this);
	        $('html, body').stop().animate({
	            scrollTop: ($($ele.attr('href')).offset().top)
	        }, 600, 'easeInOutExpo');
	        event.preventDefault();
		});

	    $('.navbar-collapse ul li a').click(function() {       
	        $('.navbar-toggle:visible').click();
	    });

		$('.resume-expand').click(function(){
			$('#resume .collapse').collapse("show");
		});
		$('.resume-collapse').click(function(){
			$('#resume .collapse').collapse("hide")
		}); 

		$('#login-btn,#login>button.close-btn').click(function(){
			$('.login-field').val('');		
		}); 


		$('#copyright-name h4').click(function(){
			$('.color-variable').toggleClass('color-primary').toggleClass('color-secondary');
		});
  	</script>

</template>