<template name="resume">
	<div id="resume" class="section bg-translucent">
		<div class="container">
            <div class="row text-center">
                <h1 class="margin-top-0 av-color-variable color-primary wow fadeInDown">// Resume &nbsp;
                    <a href="/files/Arun Varghese - Software Engineer.doc">
                        <i class="fa fa-download fa-3 av-color-variable color-primary"></i></a>
                </h1>
            </div>
            <hr>
            <i class="clean av-color-variable color-primary resume-icon resume-expand fa fa-plus-square-o wow fadeInDown"></i><i class="clean av-color-variable color-primary resume-icon resume-collapse fa fa-minus-square-o wow fadeInUp"></i>
            <a href="javascript:;" style="text-decoration:none">
                <h2 class="color-variable color-primary wow fadeInUp resume-item-header" data-wow-delay=".1s" data-toggle="collapse" data-target="#collapse_qualifications" style="visibility: visible; animation-delay: 0.1s;">
                    <i class="icon fa fa-file-text-o"></i>Highlight of Qualifications
                </h2>
            </a>
            <div id="collapse_qualifications" class="collapse bg-translucent bg-shadow bg-rounded pad-all">
                <ul class="resume-item">
                    <li class="color-variable color-primary">4+ years of java development experience using agile methodology</li>
                    <li class="color-variable color-primary">Able to build complex solutions on time while working with offsite teams</li>
                    <li class="color-variable color-primary">Experience in working on multiple projects, managing time and resources effectively</li>
                    <li class="color-variable color-primary">Excellent problem-solver, able to quickly grasp complex systems and identify opportunities for improvements and resolution of critical issues</li>
                    <li class="color-variable color-primary">Strong technical and interactive communication skills</li>
                    <li class="color-variable color-primary">Excellent collaboration skills</li>
                    <li class="color-variable color-primary">Client-focused, interested in working with technology to solve business problems</li>
                    <li class="color-variable color-primary">Quick learner and exceptionally hardworking at every task pursued</li>
                    <li class="color-variable color-primary">Flexible and capable of performing well on team-oriented tasks and meeting deadlines</li>
                    <li class="color-variable color-primary">Effective leadership skills with respect to influencing team members and delegating abilities</li>
                    <li class="color-variable color-primary">Able to adapt and be successful in handling multiple responsibilities and roles in high-stress environments</li>
                    <li class="color-variable color-primary">Experienced with working on distributed and N-Tier architecture</li>
                </ul>
                <br>
            </div>
            <a href="javascript:;" style="text-decoration:none">
                <h2 class="color-variable color-primary wow fadeInDown resume-item-header" data-wow-delay=".2s" data-toggle="collapse" data-target="#collapse_skills" style="visibility: visible; animation-delay: 0.2s;">
                    <i class="icon fa fa-file-text-o"></i>Technical Skills
                </h2>
            </a>    
            <div id="collapse_skills" class="collapse bg-translucent bg-shadow bg-rounded pad-all">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xs-12 col-lg-6 resume-item">    
                            <h4 class="technical-skill av-color-variable color-primary">Operating Systems:</h4> 
                            <div class="badge bg-translucent bg-shadow  av-color-variable color-primary">Windows</div>    
                            <div class="badge bg-translucent bg-shadow  av-color-variable color-primary">Mac</div>
                        </div>
                        <div class="col-xs-12 col-lg-6 resume-item">     
                            <h4 class="technical-skill av-color-variable color-primary">Databases:</h4> 
                            <div class="badge bg-translucent bg-shadow  av-color-variable color-primary">Oracle 11g</div>
                            <div class="badge bg-translucent bg-shadow  av-color-variable color-primary">MySql</div>
                            <div class="badge bg-translucent bg-shadow  av-color-variable color-primary">Redis</div>
                            <div class="badge bg-translucent bg-shadow  av-color-variable color-primary">ElasticSearch</div>
                            <div class="badge bg-translucent bg-shadow  av-color-variable color-primary"> MongoDB</div>
                            <div class="badge bg-translucent bg-shadow  av-color-variable color-primary"> SQL Server</div>
                            <div class="badge bg-translucent bg-shadow  av-color-variable color-primary"> Oracle SQL Developer</div>
                            <div class="badge bg-translucent bg-shadow  av-color-variable color-primary"> PL/SQL</div>
                            <div class="badge bg-translucent bg-shadow  av-color-variable color-primary"> JDBC</div>
                            <div class="badge bg-translucent bg-shadow  av-color-variable color-primary"> MyBatis</div>
                        </div>
                        <div class="col-xs-12 col-lg-6 resume-item">     
                            <h4 class="technical-skill av-color-variable color-primary">Languages:</h4>
                            <div class="badge bg-translucent bg-shadow  av-color-variable color-primary">Java/J2EE</div>
                            <div class="badge bg-translucent bg-shadow  av-color-variable color-primary">Groovy</div>
                            <div class="badge bg-translucent bg-shadow  av-color-variable color-primary"> HTML</div>
                            <div class="badge bg-translucent bg-shadow  av-color-variable color-primary"> JavaScript</div>
                            <div class="badge bg-translucent bg-shadow  av-color-variable color-primary"> JQuery</div>
                            <div class="badge bg-translucent bg-shadow  av-color-variable color-primary"> JSON</div>
                            <div class="badge bg-translucent bg-shadow  av-color-variable color-primary"> AJAX</div>
                            <div class="badge bg-translucent bg-shadow  av-color-variable color-primary"> CSS</div>
                            <div class="badge bg-translucent bg-shadow  av-color-variable color-primary"> XML/XSD</div>
                            <div class="badge bg-translucent bg-shadow  av-color-variable color-primary"> XSLT</div>
                            <div class="badge bg-translucent bg-shadow  av-color-variable color-primary"> Shell Scripting</div>
                        </div>
                        <div class="col-xs-12 col-lg-6 resume-item">
                            <h4 class="technical-skill av-color-variable color-primary">Frameworks:</h4> 
                            <div class="badge bg-translucent bg-shadow  av-color-variable color-primary">Agile</div>
                            <div class="badge bg-translucent bg-shadow  av-color-variable color-primary"> AngularJS</div>
                            <div class="badge bg-translucent bg-shadow  av-color-variable color-primary"> TDD </div>
                            <div class="badge bg-translucent bg-shadow  av-color-variable color-primary"> Selenium</div>
                            <div class="badge bg-translucent bg-shadow  av-color-variable color-primary"> Spring MVC</div>
                            <div class="badge bg-translucent bg-shadow  av-color-variable color-primary"> REST/SOAP</div>
                            <div class="badge bg-translucent bg-shadow  av-color-variable color-primary"> SOA</div>
                            <div class="badge bg-translucent bg-shadow  av-color-variable color-primary"> OO</div>
                            <div class="badge bg-translucent bg-shadow  av-color-variable color-primary"> SAFe</div>
                            <div class="badge bg-translucent bg-shadow  av-color-variable color-primary"> Hibernate</div>
                            <div class="badge bg-translucent bg-shadow  av-color-variable color-primary"> Struts</div>
                            <div class="badge bg-translucent bg-shadow  av-color-variable color-primary"> Mean.IO</div>
                        </div>
                        <div class="col-xs-12 col-lg-6 resume-item">
                            <h4 class="technical-skill av-color-variable color-primary">Source Control:</h4> 
                            <div class="badge bg-translucent bg-shadow  av-color-variable color-primary">SVN</div>
                            <div class="badge bg-translucent bg-shadow  av-color-variable color-primary"> GIT</div>
                            <div class="badge bg-translucent bg-shadow  av-color-variable color-primary"> ClearCase</div>
                        </div>
                        <div class="col-xs-12 col-lg-6 resume-item">
                            <h4 class="technical-skill av-color-variable color-primary">Builds:</h4> 
                            <div class="badge bg-translucent bg-shadow  av-color-variable color-primary">Bamboo</div>
                            <div class="badge bg-translucent bg-shadow  av-color-variable color-primary"> Jenkins</div>
                            <div class="badge bg-translucent bg-shadow  av-color-variable color-primary"> Sonar</div>
                            <div class="badge bg-translucent bg-shadow  av-color-variable color-primary"> FishEye/Crucible</div>
                            <div class="badge bg-translucent bg-shadow  av-color-variable color-primary"> Ant</div>
                            <div class="badge bg-translucent bg-shadow  av-color-variable color-primary"> Maven</div>
                        </div>
                        <div class="col-xs-12 col-lg-6 resume-item">
                            <h4 class="technical-skill av-color-variable color-primary">IDE:</h4> 
                            <div class="badge bg-translucent bg-shadow  av-color-variable color-primary">IntelliJ</div>
                            <div class="badge bg-translucent bg-shadow  av-color-variable color-primary">Eclipse</div>
                            <div class="badge bg-translucent bg-shadow  av-color-variable color-primary"> SpringSource</div>
                        </div>
                        <div class="col-xs-12 col-lg-6 resume-item">
                            <h4 class="technical-skill av-color-variable color-primary">Server:</h4> 
                            <div class="badge bg-translucent bg-shadow  av-color-variable color-primary">Tomcat</div>
                            <div class="badge bg-translucent bg-shadow  av-color-variable color-primary"> WinSCP</div>
                            <div class="badge bg-translucent bg-shadow  av-color-variable color-primary"> Putty</div>
                        </div>
                        <div class="col-xs-12 col-lg-6 resume-item">
                            <h4 class="technical-skill av-color-variable color-primary">Testing:</h4> 
                            <div class="badge bg-translucent bg-shadow  av-color-variable color-primary"> JUnit</div>
                            <div class="badge bg-translucent bg-shadow  av-color-variable color-primary"> SoapUI</div>
                            <div class="badge bg-translucent bg-shadow  av-color-variable color-primary"> Postman</div>
                            <div class="badge bg-translucent bg-shadow  av-color-variable color-primary"> HermesJMS</div>
                            <div class="badge bg-translucent bg-shadow  av-color-variable color-primary"> Selenium</div>
                            <div class="badge bg-translucent bg-shadow  av-color-variable color-primary"> Firebug</div>
                            <div class="badge bg-translucent bg-shadow  av-color-variable color-primary"> HP Quality Center</div>
                        </div>
                        <div class="col-xs-12 col-lg-6 resume-item">
                            <h4 class="technical-skill av-color-variable color-primary">Tools:</h4> 
                            <div class="badge bg-translucent bg-shadow  av-color-variable color-primary"> JIRA</div>
                            <div class="badge bg-translucent bg-shadow  av-color-variable color-primary"> HP Operations Orchestration</div>
                            <div class="badge bg-translucent bg-shadow  av-color-variable color-primary"> HP Service Manager</div>
                            <div class="badge bg-translucent bg-shadow  av-color-variable color-primary"> MS PowerPoint/Word/Excel</div>
                            <div class="badge bg-translucent bg-shadow  av-color-variable color-primary"> SharePoint</div>
                        </div>
                    </div>
                </div>
            </div>
            <a href="javascript:;" style="text-decoration:none">
                <h2 class="color-variable color-primary wow fadeInUp resume-item-header" data-wow-delay=".3s" data-toggle="collapse" data-target="#collapse_projects" style="visibility: visible; animation-delay: 0.3s;">
                    <i class="icon fa fa-file-text-o"></i>Projects
                </h2>
            </a>    
            <div id="collapse_projects" class="collapse bg-translucent bg-shadow bg-rounded pad-all">
                <h2 class="color-variable color-primary">NSpire Admin</h2>
                <ul class="resume-item">    
                    <li class="color-variable color-primary">Groovy and Spring based web application </li>
                    <li class="color-variable color-primary">Utilized Linux servers, Tomcat application server, Mongo database, Elastic Search</li>
                </ul>
                <h2 class="color-variable color-primary">FundRef - Fund Reference Application</h2>
                <ul class="resume-item">    
                    <li class="color-variable color-primary">Java and Spring based web application for consolidating/provisioning fund attributes to downstream systems</li>
                    <li class="color-variable color-primary">Utilized Linux servers, Tomcat application server, Oracle database, IPP, PowerCenter, IBM HATS, Apache Solr</li>
                </ul>
                <h2 class="color-variable color-primary">IRA - Integrated Routing Adapter</h2>
                <ul class="resume-item">   
                    <li class="color-variable color-primary">Vendor product that exposes APIs to enable applications to deliver changes to downstream system</li>
                    <li class="color-variable color-primary">Utilized Linux servers, Tomcat application server, and Oracle database</li>
                </ul>
                <h2 class="color-variable color-primary">DAL SDS - Data Access Layer Shared Data Services</h2>
                <ul class="resume-item">       
                    <li class="color-variable color-primary">Java and Spring based RESTful web services project used for raw data management, capture, and delivery</li>
                    <li class="color-variable color-primary">Utilized Linux servers, Tomcat application server, and Oracle database,  SQL Server, Composite, Maven</li>
                </ul>
                <h2 class="color-variable color-primary">FEAS - Fund Event Automation System</h2>
                <ul class="resume-item">    
                    <li class="color-variable color-primary">Java based web application that enables business users to post changes to downstream systems utilizing IRA</li>
                    <li class="color-variable color-primary">Utilized Linux servers, Tomcat application server, Apache ActiveMQ, Oracle database, Apache Jasper Reports</li>
                </ul>
                <h2 class="color-variable color-primary">SWAP – Single Window Approval Project</h2>
                <ul class="resume-item">       
                    <li class="color-variable color-primary">Java based web dashboard used to replace previously Excel based dashboard for change management process</li>
                    <li class="color-variable color-primary">Utilized Tomcat application server, Bootstrap, Maven, Apache POI</li>
                </ul>
                <h2 class="color-variable color-primary">CAR – Counterparty Approval Requests</h2>
                <ul class="resume-item">      
                    <li class="color-variable color-primary">Java, Spring, Bootstrap based web dashboard used to replace previously manual email approval process</li>
                    <li class="color-variable color-primary">Utilized Linux servers, Tomcat application server, Bootstrap, Oracle database, Maven</li>
                </ul>
            </div>
            <a href="javascript:;" style="text-decoration:none">
                <h2 class="color-variable color-primary wow fadeInDown resume-item-header" data-wow-delay=".4s" data-toggle="collapse" data-target="#collapse_experience" style="visibility: visible; animation-delay: 0.4s;">
                    <i class="icon fa fa-file-text-o"></i>Professional Experience
                </h2>
            </a>
            <div id="collapse_experience" class="collapse bg-translucent bg-shadow bg-rounded pad-all">
                 <a href="javascript:;" style="text-decoration:none">
                    <h2 class="color-variable color-primary" data-toggle="collapse" data-target="#collapse_highlights_3">
                        Spireon Inc.  <br> Irving, TX <br> 08/2015 - Present<br>                                  
                        Software Engineer<br>
                    </h2>
                    <h3 class="color-variable color-primary">Projects: Nspire Admin, Procon Server</h3><br>
                </a>
                <div id="collapse_highlights_3" class="collapse">
                    <ul class="resume-item">   
                      <li class="color-variable color-primary">Facilitated quarterly release using SAFe framework through collaborating with architecture leads</li> 
                      <li class="color-variable color-primary">Owned vendor product adoption, became subject matter expert and supported clients</li>
                      <li class="color-variable color-primary">Led  multiple Spring MVC projects, interfaced with global project teams to ensure on time deliverables</li>
                      <li class="color-variable color-primary">Experienced in analyzing and completing Java, HTML, JavaScript code stubs written by senior developers</li>
                      <li class="color-variable color-primary">Led efforts during multiple application site migrations, performed UNIX configurations and supported clients</li>
                      <li class="color-variable color-primary">Documented user stories In JIRA and created developer tasks</li>
                      <li class="color-variable color-primary">Performed code reviews through FishEye/Crucible for developers to improve quality and efficiency</li>
                      <li class="color-variable color-primary">Reviewed change requests and collaborated with development teams to prioritize backlogs for releases</li>
                      <li class="color-variable color-primary">Piloted disaster recovery automation efforts, utilized HP Operations Orchestration studio to create release engineering  processes to minimize manual inputs and reduce resources on call</li>
                      <li class="color-variable color-primary">Supported multiple projects in testing, development, and maintaining deliverables</li>
                      <li class="color-variable color-primary">Developed web services using both REST and SOAP to support DAL SDS application, implemented SOA APIs</li>
                      <li class="color-variable color-primary">Tested web services using both SoapUI as well as Postman</li>
                      <li class="color-variable color-primary">Wrote JUnits and refactored to improve Sonar nightly build reports</li>
                      <li class="color-variable color-primary">Worked with quality assurance team to document and prioritize defects documented in HP Quality Center</li>
                      <li class="color-variable color-primary">Created user interfaces for new functionality for legacy projects using HTML, JavaScript, JQuery, MVC</li>
                      <li class="color-variable color-primary">Managed branching and merging of project source code in SVN to align with quarterly project releases</li>
                      <li class="color-variable color-primary">Supported multiple applications through HP Service Manager, handling incident requests in a timely manner</li>
                      <li class="color-variable color-primary">Documented vendor product setup steps as well as testing procedures through SoapUI and HermesJMS</li>
                      <li class="color-variable color-primary">Developed user interfaces for FundRef application, modifying form elements from screen to screen</li>
                      <li class="color-variable color-primary">Developed middle tier for FundRef application, modifying XML bindings between domain and XSD objects</li>
                    </ul>
                    <h3 class="color-variable color-primary">
                        Environment: Linux, Groovy, Grails, HTML, JavaScript, JQuery, AJAX, CSS, XML/XSD, Shell Scripting, Oracle 11g, Oracle SQL Developer, PL/SQL, JDBC, iBatis, MyBatis, Agile, TDD , Selenium, Spring MVC, REST, SOAP, SOA, OO, SVN, Bamboo, Sonar, FishEye/Crucible, Ant, Maven, SpringSource, Tomcat, WinSCP, Putty, JUnit, SoapUI, Postman, Selenium, JIRA, HP Quality Center, HP Operations Orchestration, HP Service Manager, MS PowerPoint/Word/Excel, SharePoint
                    </h3>
                </div>    
                <a href="javascript:;" style="text-decoration:none">
                    <h2 class="color-variable color-primary" data-toggle="collapse" data-target="#collapse_highlights_2">
                        Fidelity Investments  <br> Westlake, TX <br> 07/2014 - 08/2015<br>                                  
                        Software Engineer<br>
                    </h2>
                    <h3 class="color-variable color-primary">Projects: DAL SDS, FEAS, IRA, FundRef</h3><br>
                </a>
                <div id="collapse_highlights_2" class="collapse">
                    <ul class="resume-item">   
                      <li class="color-variable color-primary">Facilitated quarterly release using SAFe framework through collaborating with architecture leads</li> 
                      <li class="color-variable color-primary">Owned vendor product adoption, became subject matter expert and supported clients</li>
                      <li class="color-variable color-primary">Led  multiple Spring MVC projects, interfaced with global project teams to ensure on time deliverables</li>
                      <li class="color-variable color-primary">Experienced in analyzing and completing Java, HTML, JavaScript code stubs written by senior developers</li>
                      <li class="color-variable color-primary">Led efforts during multiple application site migrations, performed UNIX configurations and supported clients</li>
                      <li class="color-variable color-primary">Documented user stories In JIRA and created developer tasks</li>
                      <li class="color-variable color-primary">Performed code reviews through FishEye/Crucible for developers to improve quality and efficiency</li>
                      <li class="color-variable color-primary">Reviewed change requests and collaborated with development teams to prioritize backlogs for releases</li>
                      <li class="color-variable color-primary">Piloted disaster recovery automation efforts, utilized HP Operations Orchestration studio to create release engineering  processes to minimize manual inputs and reduce resources on call</li>
                      <li class="color-variable color-primary">Supported multiple projects in testing, development, and maintaining deliverables</li>
                      <li class="color-variable color-primary">Developed web services using both REST and SOAP to support DAL SDS application, implemented SOA APIs</li>
                      <li class="color-variable color-primary">Tested web services using both SoapUI as well as Postman</li>
                      <li class="color-variable color-primary">Wrote JUnits and refactored to improve Sonar nightly build reports</li>
                      <li class="color-variable color-primary">Worked with quality assurance team to document and prioritize defects documented in HP Quality Center</li>
                      <li class="color-variable color-primary">Created user interfaces for new functionality for legacy projects using HTML, JavaScript, JQuery, MVC</li>
                      <li class="color-variable color-primary">Managed branching and merging of project source code in SVN to align with quarterly project releases</li>
                      <li class="color-variable color-primary">Supported multiple applications through HP Service Manager, handling incident requests in a timely manner</li>
                      <li class="color-variable color-primary">Documented vendor product setup steps as well as testing procedures through SoapUI and HermesJMS</li>
                      <li class="color-variable color-primary">Developed user interfaces for FundRef application, modifying form elements from screen to screen</li>
                      <li class="color-variable color-primary">Developed middle tier for FundRef application, modifying XML bindings between domain and XSD objects</li>
                    </ul>
                    <h3 class="color-variable color-primary">
                        Environment: Windows, Linux, Java/J2EE, HTML, JavaScript, JQuery, AJAX, CSS, XML/XSD, XSLT, Shell Scripting, Oracle 11g, Oracle SQL Developer, PL/SQL, JDBC, iBatis, MyBatis, Agile, TDD , Selenium, Spring MVC, REST, SOAP, SOA, OO, SVN, Bamboo, Sonar, FishEye/Crucible, Ant, Maven, SpringSource, Tomcat, WinSCP, Putty, JUnit, SoapUI, Postman, Selenium, JIRA, HP Quality Center, HP Operations Orchestration, HP Service Manager, MS PowerPoint/Word/Excel, SharePoint
                    </h3>
                </div>    
                <a href="javascript:;" style="text-decoration:none">
                    <h2 class="color-variable color-primary" data-toggle="collapse" data-target="#collapse_highlights_1">
                        Fidelity Investments  <br> Westlake, TX <br> 07/2012 – 07/2014<br> 
                        Associate Software Engineer<br>
                    </h2>
                    <h3 class="color-variable color-primary">Projects: FundRef, DAL SDS, CAR, SWAP</h3><br>
                </a>
                <div id="collapse_highlights_1" class="collapse">
                    <ul class="resume-item">   
                      <li class="color-variable color-primary">Automated test data generation by incorporating real time data through Java code thus reducing testing timeframe and the number of code, scripts, and manual inputs required</li>
                      <li class="color-variable color-primary">Developed code using JUnits and a Test Driven Development perspective</li>
                      <li class="color-variable color-primary">Enhanced web applications using JavaScript and AJAX to improve features being used by internal customers resulting in faster performance and better user experience</li>
                      <li class="color-variable color-primary">Migrated test cases originally written in MS Excel to HP Quality Center, resulting in better usability</li>
                      <li class="color-variable color-primary">Interfaced with quality assurance team to develop a testing tool using Selenium and Junit testing frameworks, used by both quality assurance and development team for extensive testing</li>
                      <li class="color-variable color-primary">Identified issues with deployment process, learned and implemented UNIX shell scripts to automate deployment process in application environments to reduce deployment errors and overall execution time</li>
                      <li class="color-variable color-primary">Led daily meetings as Agile Scrum master between business and development teams to track project progress and address blockers to ensure project deadlines were met</li>
                      <li class="color-variable color-primary">Primary contact and subject matter expert for vendor orchestration tool IPP and Jasper reports</li>
                      <li class="color-variable color-primary">Led efforts in integrating with vendor-developed IRA to connect to systems for automating data setup, effectively reducing manual setup process from weeks to minutes</li>
                      <li class="color-variable color-primary">Developed provisioning user interface using HTML, JavaScript, Spring MVC, which became basis for automated data setup functionality</li>
                      <li class="color-variable color-primary">Mentored and managed a team of LEAP associates working on business sponsored initiative</li>
                      <li class="color-variable color-primary">Wrote and published technical application installation/configuration guides on Wiki and SharePoint to educate development team as well as customers on various tools and functionality</li>
                      <li class="color-variable color-primary">Identified business problem and worked with associates to develop an efficient dashboard solution end to end</li>
                      <li class="color-variable color-primary">Familiarized with company standard programming paradigms, languages, culture</li>
                      <li class="color-variable color-primary">Designed solutions using data centric technologies</li>
                      <li class="color-variable color-primary">Incorporated Agile, analysis, design, development, testing, and software application support</li>
                    </ul>
                    <h3 class="color-variable color-primary">
                        Environment: Windows, Linux, Java/J2EE, HTML, JavaScript, JQuery, AJAX, CSS, XML/XSD, XSLT, Shell Scripting, Oracle 11g, Oracle SQL Developer, PL/SQL, JDBC, iBatis, Agile, TDD , Selenium, Spring MVC, REST, SOAP, SOA, OO, SVN, Bamboo, Sonar, FishEye/Crucible, Ant, Eclipse, SpringSource, Tomcat, WinSCP, Putty, JUnit, SoapUI, Selenium, JIRA, HP Quality Center, HP Service Manager, MS PowerPoint/Word/Excel, SharePoint
                    </h3><h3>
                </h3></div>
            </div>
            <a href="javascript:;" style="text-decoration:none">
                <h2 class="color-variable color-primary wow fadeInUp resume-item-header" data-wow-delay=".5s" data-toggle="collapse" data-target="#collapse_education" style="visibility: visible; animation-delay: 0.5s;">
                    <i class="icon fa fa-file-text-o"></i>Education
                </h2>
            </a>    
            <div id="collapse_education" class="collapse bg-translucent bg-shadow bg-rounded pad-all">
                    <h2 class="color-variable color-primary"><i class="icon fa fa-graduation-cap"></i>Bachelor of Science in Software Engineering - 05/2012</h2>
                    <h3 class="color-variable color-primary">University of Texas at Dallas, Richardson, Texas</h3>
            </div>
            <a href="javascript:;" style="text-decoration:none">
                <h2 class="color-variable color-primary wow fadeInDown resume-item-header" data-wow-delay=".6s" data-toggle="collapse" data-target="#collapse_authorization" style="visibility: visible; animation-delay: 0.6s;">
                    <i class="icon fa fa-file-text-o"></i>Work Authorization
                </h2>
            </a>
            <div id="collapse_authorization" class="collapse bg-translucent bg-shadow bg-rounded pad-all">
                    <h2 class="color-variable color-primary">
                        US Citizen
                    </h2>
            </div>
        </div>
	</div>
</template>