<template name="footer">
	<div id="footer" class="section bg-translucent">
		<div class="container">
			<div class="row">
				<div id="copyright-name" class=" text-center wow fadeIn">
					<h4 class="color-variable color-primary">© The AV Club 2016</h4>
				</div>
			</div>
			<div class="row hide">
                <div class="contact-icons text-center">
                   	<i class="fa fa-skype fa-2x wow fadeIn" data-wow-delay=".1s"></i>
					<i class="fa fa-slack fa-2x wow fadeIn" data-wow-delay=".2s"></i>
					<i class="fa fa-linkedin fa-2x wow fadeIn" data-wow-delay=".3s"></i>
					<i class="fa fa-facebook fa-2x wow fadeIn" data-wow-delay=".4s"></i>
					<i class="fa fa-google-plus fa-2x wow fadeIn" data-wow-delay=".5s"></i>
                </div>
            </div>
		</div>
	</div>
</template>