 <template name="nav">
    <div id="nav" class="navbar navbar-fixed-top navbar-default fadeInDown nav-bg">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="menu-bars fa fa-bars color-variable color-primary"></span>
            </button>
            <a class="navbar-brand scroll color-variable color-primary nav-text" href="#home"><i class="fa fa-hashtag">AV</i> </a>
        </div>
        <div class="navbar-collapse collapse" id="bs-navbar">
            <ul class="nav navbar-nav">
                <li><a class="scroll color-variable color-primary nav-text" href="#resume">Resume</a> </li>
                <li><a class="scroll color-variable color-primary nav-text" href="#portfolio">Portfolio</a> </li>
                <li><a class="scroll color-variable color-primary nav-text" href="#contact">Contact</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                 <li><a id="login-btn" class="color-variable color-primary nav-text" href="#">Log In</a> </li>
            </ul>                
        </div>
    </div>        
</template>