<template name="portfolio">
	<div id="portfolio" class=" section" data-stellar-background-ratio="0.5">
		<div class="container">
			<div class="row text-center">
				<h1 class="color-variable color-primary wow fadeInDown">// Portfolio</h1>
			</div>
			<div id="mixitFilters" class="row text-center hide">
				 <button class="filter bg-translucent color-variable color-primary wow fadeIn" data-filter="all">All</button>
				 <button class="filter bg-translucent color-variable color-primary wow fadeIn" data-filter=".personal">Personal</button>
				 <button class="filter bg-translucent color-variable color-primary wow fadeIn" data-filter=".professional">Professional</button>
			</div>
			<div class="row">
				<div class="col-md-6 text-center portfolio-item-container wow bounceIn" data-wow-delay=".1s">
					<div class="portfolio-item text-center" style="background:url(http://i.imgur.com/4rD8filh.jpg);" data-stellar-background-ratio="0.4">
						<a href="http://av-travels.meteor.com/" target="_blank">
							<h2 class="bg-translucent color-variable color-primary" >Travel Gallery Design</h2>
						</a>
					</div>
				</div>
				<div class="col-md-6 text-center portfolio-item-container wow bounceIn" data-wow-delay=".2s">
					<div class="portfolio-item text-center" style="background:url(http://i.imgur.com/XArrwf6.jpg);" data-stellar-background-ratio="0.7">
						<a href="#" target="_blank">
							<h2 class="bg-translucent color-variable color-primary" >Portfolio Item #2</h2>
						</a>
					</div>
				</div>
				<div class="col-md-6 text-center portfolio-item-container wow bounceIn" data-wow-delay=".3s">
					<div class="portfolio-item text-center" style="background:url(http://i.imgur.com/78ZsAjw.jpg);" data-stellar-background-ratio=".9">
						<a href="#" target="_blank">
							<h2 class="bg-translucent color-variable color-primary" >Portfolio Item #3</h2>
						</a>
					</div>
				</div>
				<div class="col-md-6 text-center portfolio-item-container wow bounceIn" data-wow-delay=".4s">
					<div class="portfolio-item text-center" style="background:url(http://i.imgur.com/QeDP2AA.jpg);" data-stellar-background-ratio="0">
						<a href="#" target="_blank">
							<h2 class="bg-translucent color-variable color-primary" >Portfolio Item #4</h2>
						</a>
					</div>
				</div>
			</div>	
		</div>
	</div>
</template>