<template name="gallery">
    <div id="tg-flip-cards-btn" class="tg-nav-btn bg-dark-1 text-center">
        <i class="fa fa-eye tg-icon tg-color-secondary "></i>
    </div>
    <div id="tg-menu-btn" class="tg-nav-btn bg-dark-1 text-center">
        <i id="tg-menu-icon" class="tg-icon tg-color-secondary fa fa-bars"></i>
    </div>
    <div id="tg-filter-btn" class="tg-nav-btn bg-dark-1 text-center">
        <i id="tg-filter-icon" class="tg-icon tg-color-secondary fa fa-filter"></i>
    </div>
    <div id="tg-nav" class="bg-translucent">
        <div id="tg-text-search" class="bg-transparent">
            <span class="fa fa-search tg-icon tg-color-primary"></span>
            <input id="tg-loc-search-term" class="tg-search-input tg-color-primary" type="search" placeholder="search">
            <ul id="tg-search-results" class="col-sm-12 clean">
                {{#each locations}}
                    <li>
                        <a class="tg-color-primary clean tg-text-link" href="{{source}}" target="_blank">
                            {{name}}
                        </a>
                    </li>
                {{/each}}
            </ul>
        </div>
        <div id="tg-filter-search" class="bg-transparent text-center tg-fade">
            <select id="tg-select-tag" class="tg-filter-input bg-transparent clean tg-color-primary">
              <option value="">All</option>
              {{#each tags}}
                <option value="{{tag}}">{{this}}</option>
              {{/each}}
            </select>
             <ul id="tg-filter-results" class="col-sm-12 clean">
                {{#each locations}}
                    <li>
                        <a class="tg-color-primary clean tg-text-link" href="{{source}}" target="_blank">
                            {{name}}
                        </a>
                    </li>
                {{/each}}
            </ul>
       </div>
    </div>
    <div id="tg-gallery" class="col-sm-12 wow fadeIn bg-dark-1">
        <ul class="col-sm-12 " ontouchstart="">
        {{#each locations}}
            <li class="col-sm-3 bg-dark-2 clean wow fadeIn" data-wow-delay=".1s">
                <div class="tg-flip-container cover tg-flip">
                    <div id="tg-card" class="cover tg-front"> 
                        <div class="tg-img" style="background-image: url({{imgUrl}});"></div>
                    </div>
                    <div class="tg-card cover tg-back border-bottom">
                        <div id="tg-description" class="clean tg-color-primary">  
                            <h2 class="tg-location-label">
                                {{name}}
                            </h2>
                            <h3>
                                {{date}}
                            </h3>
                            <a href="{{source}}" target="_blank">
                                <i class="tg-icon tg-color-secondary fa fa-eye"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </li>
        {{/each}}
        </ul>
    </div>
</template>