<template name="intro">
	 <div id="tg-loader" class="cover bg-dark-2">
		<div id="tg-loading-icon">
			<i class="fa fa-cog fa-spin tg-icon tg-color-secondary"></i>
		</div>
	</div>
    <div id="tg-intro-popup" class=" text-center bg-translucent centered hide wow bounceIn">
		<div id="tg-intro-close-btn">
			<i class="fa fa-times tg-icon tg-color-secondary"></i>
		</div>
		<div id="tg-intro-message" class="tg-color-primary">
				Thanks for visiting our <b>Travel</b> Website!<br>
				Hover over an image to see a short description of that place.
				Enjoy!
		</div>
	</div>
</template>