<template name="checklist">
	<div id="checklist" class="widget-half-size" data-wow-delay=".1s">
		<div class="widget-container">
			<h2 class="widget-title">
				<i class="icon fa fa-list"></i>My Checklist
			</h2>
			<div class="widget-content">
				<div class="row">
					<span class="col-md-1 col-xs-1">
						<a id="add-item-btn">
							 <i class="icon fa fa-plus"></i>
						</a>
					</span>
					<span class="col-md-10 col-xs-10">
						<input id="new-item" type="text" placeholder="New item">
					</span>						
				</div>
				<div class="item-lists">
					{{#if itemsExist}}
						<h2>Items:</h2>
					{{else}}
						<h2>Add something!</h2>
					{{/if}}
					<ul>
						{{#each items}}
							<li class="checklist-item">
								<div class="row">
									<span class="col-md-1 col-xs-1">
										<a id="{{_id}}" class="complete-item-btn">
											<i class="fa fa-square-o"></i>
										</a>
									</span>
									<span class="col-md-9 col-xs-9">
										<input id="{{_id}}" type="text" placeholder="item-name" value="{{item}}" class="item-name">
									</span>
								</div>
							</li>
						{{/each}}
					</ul>
					{{#if anyCompleted}}
						<hr>
					{{/if}}	
					<ul>
						{{#each completed}}
							<li class="checklist-item">
								<div class="row">
									<span class="col-md-1 col-xs-1">
										<a id="{{_id}}" class="uncheck-item-btn">
											<i class="fa fa-check"></i>
										</a>
									</span>									
									<span class="col-md-1 col-xs-1">
										<a id="{{_id}}" class="delete-item-btn">
											<i class="fa fa-trash-o"></i>
										</a>
									</span>
									<span class="col-md-8 col-xs-8 item-completed">
										{{item}}
									</span>
								</div>
							</li>
						{{/each}}	
					</ul>
				</div>
			</div>
		</div>
	</div>
</template>		