<template name="messages">
	<div id="messages" class="widget-half-size" data-wow-delay=".1s">
		<div class="widget-container">
			<h2 class="widget-title">
				<i class="icon fa fa-envelope"></i>Messages
			</h2>
			<div class="widget-content">
				{{#if messagesExist}}
					<ul id="message-list">
						{{#each messages}}
							<li>
								<a id="{{_id}}" class="message" data-toggle="modal" data-target="messageModal">
									<div class="message-row col-md-12">
										<span class="col-md-6 col-xs-6 text-left">
											<i class="icon fa fa-user"></i>{{name}}
										</span>	
										<span class="col-md-6 col-xs-6 text-right">
											<i class="icon fa fa-calendar-o"></i>{{formatDateShort date}}
										</span>	
										<br>
										<span class="message-text col-md-12 col-xs-12">
											Message: {{messagePreview message}}
										</span>
										{{#if newMessage this}}	
											<span class="read"><i class="fa fa-exclamation"></i></span>
										{{/if}}
									</div>
								</a>
							</li>
						{{/each}}
					</ul>
				{{else}}
					<h3 id="no-messages">No Messages :(</h3>
				{{/if}}
			</div>
			<div id="message-ctrl" class="row">
				<a id="delete-all-messages-btn" class="col-md-6">
                	<i class="icon fa fa-trash"></i>Clear
            	</a>
				<a id="export-messages-btn" class="col-md-6">
                	<i class="icon fa fa-external-link"></i>Export
            	</a>       
        	</div>  
		</div>
	</div>

	<div id="message-modal" class="modal fade" role="dialog">
		<div class="modal-dialog">
		   	<div class="modal-content">
		   		<div class="modal-header">
					<a class="modal-close-btn" data-dismiss="modal"><i class="fa fa-times"></i></a>
				</div>
				<div id="message-details" class="modal-body">
					 <h2><i class="icon fa fa-envelope"></i>Message Details</h2>
					 <div id="message-info" class="col-md-8">
						 <h2><i class="icon fa fa-user"></i>{{selectedMessage.name}}</h2>
						 <h2><i class="icon fa fa-envelope-o"></i>{{selectedMessage.email}}</h2>
						 <h2><i class="icon fa fa-calendar-o"></i>{{formatDate selectedMessage.date}}</h2>
						 <label></label>
					 </div>
					 <div id="message-body" class="col-md-12">
					 	<p>
					 		{{selectedMessage.message}}
					 	</p>
					 </div>
					 <label></label>
					 <div class="row">
	                        <a id="delete-message-btn" class="col-md-6 btn btn-lg">
	                        	<i class="icon fa fa-trash"></i>Delete
	                        </a>
	                        <a id="reply-message-btn" class="col-md-6 btn btn-lg">
	                        	<i class="icon fa fa-reply"></i>Reply
	                        </a>
	                        <p id="message-message"></p>
                    </div>
				</div>
			</div>
		</div>
	</div>
</template>		