<template name="careerRecharge">
    {{>sharedNav}}
	<div id="cr-product">
        <div id="product-section" class="col-md-12">
            <h1 id="cr-title" class="wow flip">Career <b>Recharge!</b></h1>
            <h1 id="cr-bolt"><i class="fa fa-bolt wow tada"></i></h1>
            <h3 id="cr-services">Resume / Interview</h3>
            <p id="cr-description">
                Welcome to <b>Career Recharge</b>, your one stop spot to market yourself better! <br/>
                We help with resume critiques and improving your interview skills so that you can stand out in this competitive job market! As experienced professionals in the IT and Engineering field, we know exactly what hiring managers look for and we want to share that knowledge with you so you have an edge over the other applicants. We will work one on one with you to understand your goals and help you land your dream job! <br/>
            </p>
        </div>
        <div class="col-md-6">
        	<a class="btn cr-btn wow pulse" data-wow-delay="" href="https://www.fiverr.com/primrosee123/review-and-critique-your-resume-providing-valuable-feedback?funnel=21e64505-c0e0-4ce8-bfe6-f6c7a4a2608a">Resume Critique</a>
        </div>
        <div class="col-md-6">
        	<a class="btn cr-btn wow pulse" data-wow-delay=".2s" href="https://www.fiverr.com/primrosee123/setup-a-mock-interview-with-you?funnel=9c6a9b94-679f-408f-be9c-23ea1593f561">Mock Interview</a>
        </div> 
	</div>
    {{>sharedFooter}}
</template>