<template name="blocksControl">
	<div id="b-ctrl">
       <a id="b-ctrl-min-btn"><i class="fa fa-times"></i></a>
       <div id="b-ctrl-container" class="container">
			<div class="row">
				<label>
					Color
				</label>
				&nbsp;<input id="b-input-blk-color" type="text" maxlength="10" size="10">
			</div>
			<div class="row">
				<label>
					Radius
				</label>
				&nbsp;<input id="b-input-brdr-radius" type="number" maxlength="3" size="3" min="0">
			</div>
			<div class="row">
				<label>
					Transition
				</label>
				&nbsp;<input id="b-input-trans-time" type="number" maxlength="3" size="3" min="0">
			</div>
       </div>
    </div>
</template>