<template name="blocksControl">
	<div id="b-ctrl" class="b-centered b-bg-translucent b-bg-shadow-inverse bg-rounded">
       <a id="b-ctrl-min-btn" href="#" class="clean b-color-primary"><i class="fa fa-times"></i></a>
       <div id="b-ctrl-container" class="container">
		<div class="row">
			<label class="b-color-primary">
				Color
			</label>
			&nbsp;<input id="b-input-blk-color" type="text" maxlength="10" size="10" class="b-color-primary">
		</div>
		<div class="row">
		<label class="b-color-primary">
			Radius
		</label>
		&nbsp;<input id="b-input-brdr-radius" type="number" maxlength="3" size="3" min="0" class="b-color-primary">
		</div>
		<div class="row">
		<label class="b-color-primary">
			Transition
		</label>
		&nbsp;<input id="b-input-trans-time" type="number" maxlength="3" size="3" min="0" class="b-color-primary">
		</div>
       </div>
    </div>
</template>